<% layout('layouts/boilerplate') %>
    <div id="map" style="width: 100%; height: 500px;"></div>
    <h1>All Campgrounds</h1>
    <button><a href="/campgrounds/new">Add a Camp</a></button>
    <ul>
        <% for(let camps of campgrounds) {%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <% if(camps.images.length) { %>
                            <img src="<%= camps.images[0].url %>" alt="" class="img-thumbnail">
                            <% } else { %>
                                <img src="https://res.cloudinary.com/dqzc1iv32/image/upload/v1741258682/YelpCamp/yckvffd3veyjxzhmix0v.webp"
                                    alt="" class="img-thumbnail">
                                <% } %>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="card-title">
                                <%= camps.title %>
                            </div>
                            <div class="card-text">
                                <%= camps.description %>
                            </div>
                            <p class="card-text pt-2">
                                <small class="text-muted">
                                    <%= camps.location %>
                                </small>
                            </p>
                            <h3 class="card-text">$ <%= camps.price %>
                            </h3>
                            <a href="/campgrounds/<%= camps._id %>" class="btn bg-primary text-light">Show <%=
                                    camps.title %></a>
                        </div>

                    </div>
                </div>
            </div>
            <% } %>
    </ul>
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
    </script>
    <script src="/javascripts/clusterMaps.js"></script>